[submodule "externals/nactemplate"]
	path = externals/nactemplate
	url = https://github.com/josiahlucerodev/nactemplate
[submodule "externals/natl"]
	path = externals/natl
	url = https://github.com/josiahlucerodev/natl
